before_script:
  - apt-get update -qq
  - apt-get install -qq git
  - "which ssh-agent || ( apt-get install -qq openssh-client )"
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

deploy_staging:
  stage: deploy
  environment:
    name: staging
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "main" ]]; then
        ssh $SSH_USER@$VM_IPADDRESS "cd /home/domain.com && chmod -x deploy-production.sh && git pull origin main && chmod +x deploy-production.sh && ./deploy-production.sh"
      if [[ "$CI_COMMIT_BRANCH" == "dev" ]]; then
        ssh $SSH_USER_DEV@$VM_IPADDRESS_DEV "cd /home/domain.com/dev && chmod -x deploy-development.sh && git pull origin main && chmod +x deploy-development.sh && ./deploy-development.sh"
      fi
  only:
    - main # Execute CI/CD pipeline from branch "main" only if we use DO App Engine as "dev" server
